<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1(menu='members')}">
<th:block layout:fragment="script">
    <script>
        $('docuemnt').ready(function(){
            $('#deletebtn').on('click',function(){
                var result = confirm('삭제 하시겟습니까?');
                if(result){
                    $('#frm').submit();
                }
            });
        });

    </script>

</th:block>

    <th:block layout:fragment="css">



    </th:block>

<div layout:fragment="content" class="container">
    <h1>select all</h1>
    <h1>회원 목록</h1>
    <div > 총 page 갯수:<span th:text="${members.getTotalPages}">3</span></div>
    <div> 총 row 갯수 <span th:text="${members.getTotalElements}">3</span></div>
    <form action="" th:action="@{/members/delete}" id="frm" method="post">
    <table class="table table-striped">
        <thead>
       <thead>
            <tr>
                <th></th>
                <th>id</th>
                <th>email</th>
                <th>pwd</th>

        </thead>

        <tbody>
        <tr th:each="mem:${members}">
            <td><input type="checkbox" class="form-control" th:value="${mem.id}" name="id"></td>
            <td th:text="${mem.id}">1</td>
            <td><a th:text="${mem.email}" th:href="@{update(id=${mem.id})}">aa@naver.com</a></td>
            <td th:text="${mem.pwd}">1234</td>
        </tr>
        </tbody>
<!--        <tbody>-->

<!--        </tbody>-->
    </table>
    </form>

<div class="row">
    <div class="col-md-6">
        <a href="insert" class="btn btn-primary" style="padding: 5px">insert</a>
        <button id="deletebtn" type="button" class="btn btn-primary">delete</button>


    </div>
    <div class="col-md-6" >
        <form class="form-inline" action="/members/selectall" >

            <input class="form-control mr-2"
                   type="text"
                   placeholder="Eamil"
                   name="email"
                   th:value="${param.email}">
            <button class="btn btn-success" type="submit">Search</button>
        </form>
    </div>


<!--       -->
<!--    -->


</div>
    <div>



    </div>

<br>

    <div class="d-flex justify-content-center">

        <ul class="pagination">
            <li class="page-item" th:classappend="${members.pageable.pageNumber==0}? 'disabled'">
                <a class="page-link" th:href="@{/members/selectall(pageNum=${members.pageable.pageNumber-1},email=${param.email})}" href="#">Previous</a>
            </li>

            <li class="page-item" th:classappend="${members.pageable.getPageNumber+1 == i}? 'active'"  th:each="i:${#numbers.sequence(1,members.totalPages)}">
                <a class="page-link" href="#" th:href="@{/members/selectall(pageNum=${i-1},email=${param.email})}" th:text="${i}">1</a>
            </li>

            <li class="page-item" th:classappend="${members.pageable.pageNumber== members.totalPages -1}? 'disabled'">
                <a class="page-link" href="#" th:href="@{/members/selectall(pageNum=${members.pageable.pageNumber+1},email=${param.email})}">Next</a>
            </li>
        </ul>
    </div>



</div>

</html>